<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pullein.image">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.library.image.core.glide.CustomAppGlideModule"
            android:value="com.bumptech.glide.module.AppGlideModule" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MipPicActivity"
            android:label="@string/title_mip" />
        <activity
            android:name=".SingleNetPicActivity"
            android:label="@string/title_single_net" />
        <activity
            android:name=".MulNetPicActivity"
            android:label="@string/title_mul_net" />
        <activity
            android:name=".SDPicActivity"
            android:label="@string/title_sd" />
        <activity
            android:name=".GifActivity"
            android:label="@string/title_gif" />
        <activity
            android:name=".ProgressPicActivity"
            android:label="@string/title_progress"/>
    </application>

</manifest>